*{}
{
	font-size: 16px;
}
.carousel {
  height: 400px ;
}
.carousel-inner img {
  height: 400px ;
  margin: 0 auto;
}
.carousel-indicators li {
  border-color: #000;
}
.carousel-indicators .active {
  background-color: #000;
}
.trait{
	border-bottom: 3px solid black;
}
.page-footer{
	margin-top: -32px;
}
.btn
{
background-color:#27a844;
color: white;
}
.btn:hover
{
background-color:white;
border: 1px solid #27a844;
color:black;
} 
hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

#contact2{
    letter-spacing:3px;
}
#author a{
  color: #fff;
  text-decoration: none;
    
}
